
header{

    position: fixed;
    width: 100%;
    text-align: center;
    height: 50px;
    background-color: black;
    color: white;
}

.secao1{

    width: auto;
    height: 200px;
    text-align: center;
    
}

.secao1 h1{

    background-color: black;
    color:white;
    
}
