:root {

    --cor-principal: rgb(5, 37, 5);
    --cor-secundaria: #dee0dd;
    --cor-tercearia: #b1a5a5;
}

html {

    scroll-behavior: smooth;
}

body {

    margin: 0;
    padding: 0;
    border: 0;
}

img {

    margin: 0;
    padding: 0;
    height: 100%;
    border-radius: 40px;
}




/* BARRA DE NAVEGACAO*/



.navegacao {

    top: 0;
    background-color: rgb(2, 22, 2);
    width: 100vw;
    height: 60px;
    border-top: 3px solid var(--cor-secundaria);
    border-bottom: 3px solid var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
}


.navegacao-links {

    text-decoration: none;
    display: flex;
    justify-content: space-between;
}


.navegacao-links a {

    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 0 90px;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: larger;
}

.navegacao-links a:hover {

    transform: translateX(5px);
    color: var(--cor-tercearia);
}



/* CONTEUDO DA PAGINA*/



/* SECAO-INICIO */



.inicio {

    background-image: url(images/img-fundo-inicio.jpg);
    background-position: center, center;
    background-size: cover;
    width: auto;
    min-height: 90vh;
    height: auto;
    padding: 100px;
}

.inicio-titulo {

    text-align: center;
    justify-content: center;
    height: auto;
    margin-top: 30px;
    padding: 20px;
    color: var(--cor-secundaria);
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

.inicio-containers {

    display: flex;
    justify-content: center;
    padding: 10px;
}

.inicio-container1,
.inicio-container2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: auto;
    padding: 20px;
    margin-inline: 90px;
    margin-top: 70px;
    border: 3px solid var(--cor-principal);
    border-radius: 60px;
    background-color: rgba(255, 255, 255, 0.25);
}

.inicio-container1:hover {

    transform: scale(1.05);
    background-color: #dadbda;
}

.inicio-container2:hover {

    transform: scale(1.05);
    background-color: #dadbda;
}

.inicio p {


    align-items: center;
    justify-content: space-between;
    margin: 2px;
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    text-align: center;
    color: black;
}



/* SECAO-RESUMO */



.resumo {

    background-color: var(--cor-principal);
    width: auto;
    min-height: 90vh;
    height: auto;
    padding: 100px;
    font-family: "Quicksand", sans-serif;
}

.resumo-titulo {

    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 30px;
    color: var(--cor-secundaria);
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

.resumo-containers {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.resumo-container-beneficios,
.resumo-container-importancia,
.resumo-container-dependencia {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80rem;
    height: 20rem;
    padding: 20px;
    margin-top: 70px;
    border: 3px solid var(--cor-secundaria);
    border-radius: 40px;
    background-color: var(--cor-principal);
}

.resumo-container-beneficios:hover {

    transform: scale(1.01);
    background-color: rgb(2, 22, 2);
}

.resumo-container-importancia:hover {

    transform: scale(1.01);
    background-color: rgb(2, 22, 2);
}

.resumo-container-dependencia:hover {

    transform: scale(1.01);
    background-color: rgb(2, 22, 2);
}

.resumo h2 {

    color: whitesmoke;
}

.resumo p {


    align-items: center;
    justify-content: space-between;
    margin: 2px;
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    text-align: center;
    color: var(--cor-secundaria);
}



/* SECAO-EVENTOS */



.eventos {

    background-color: var(--cor-secundaria);
    width: auto;
    min-height: 90vh;
    height: auto;
    padding: 50px;
    font-family: "Quicksand", sans-serif;
}

.eventos-titulo {

    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 30px;
    color: var(--cor-principal);
    font-weight: bolder;
    font-size: xx-large;
}

.eventos-containers {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.eventos-container-expolondrina,
.eventos-container-expoinga {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110rem;
    height: 30rem;
    padding: 20px;
    border: 4px solid var(--cor-principal);
    border-radius: 60px;
}

.eventos-container-expolondrina:hover {

    transform: scale(1.01);
    background-color: #dadbda;
}

.eventos-container-expoinga:hover {

    transform: scale(1.01);
    background-color: #dadbda;
}


.eventos h2 {

    padding-top: 50px;
    color: var(--cor-principal);
}

.eventos p {


    align-items: center;
    justify-content: space-between;
    margin: 2px;
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    text-align: center;
    color: var(--cor-principal);
}



/* SECAO-SOBRE */



.sobre {

    background-color: var(--cor-principal);
    width: auto;
    min-height: 40vh;
    height: auto;
    padding: 50px;
    font-family: "Quicksand", sans-serif;
}

.sobre-titulo {

    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 30px;
    color: var(--cor-secundaria);
    font-weight: bolder;
    font-size: xx-large;
}

.sobre-containers {

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sobre p {

    align-items: start;
    justify-content: space-between;
    width: 70rem;
    margin: 10px;
    padding: 15px;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    text-align: start;
    color: var(--cor-secundaria);
    border-left: 4px solid var(--cor-secundaria);
    border-right: 4px solid var(--cor-secundaria);
}



/* FOOTER DA PÁGINA*/



footer {

    background-color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    color: var(--cor-principal);
    font-size: 1rem;
}





/* MEDIA QUERIES */





@media(max-width: 1900px) {

    .eventos-container-expoinga,
    .eventos-container-expolondrina {

        width: 70%;
        height: auto;
    }

    .sobre-containers {

        flex-direction: column;
    }
}





@media(max-width: 1400px) {

    .resumo-container-beneficios,
    .resumo-container-importancia,
    .resumo-container-dependencia {

        width: 90%;
        height: auto;
    }
}





@media(max-width:1385px) {

    .inicio-titulo {
        color: var(--cor-principal);
    }
}





@media(max-width: 1300px) {

    html {

        align-items: center;
        text-align: center;
    }

    .navegacao a {

        margin: 20px;
    }

    .inicio-container1,
    .inicio-container2,
    .resumo-container-beneficios,
    .resumo-container-dependencia,
    .resumo-container-importancia,
    .eventos-container-expoinga,
    .eventos-container-expolondrina {

        height: auto;
    }

    .inicio-container1,
    .inicio-container2 {

        border-radius: 40px;
    }

    .inicio-containers,
    .resumo-containers,
    .eventos-containers,
    .sobre-containers {

        flex-direction: column;
        align-items: center;
    }

    .inicio-container1,
    .inicio-container2,
    .resumo-container-beneficios,
    .resumo-container-dependencia,
    .resumo-container-importancia,
    .eventos-container-expoinga,
    .eventos-container-expolondrina {

        width: 95%;
        margin: 20px;
    }

    .inicio p {

        font-family: 27px;
    }

    .sobre p {

        width: 95%;
        font-size: 20px;
    }

    .resumo p {

        font-size: 24px;
    }

    .eventos {

        font-size: 26px;
    }
}





@media(max-width:555px) {

    .navegacao {

        height: auto;
        flex-direction: column;
        padding: 10px;
    }

    .navegacao-links {
        flex-direction: column;
        align-items: center;
    }

    .navegacao-links a {

        margin: 5px;
        font-size: 1.2rem;
        padding: 10px;
    }
}
